In [12]:
import numpy as np
import matplotlib.pyplot as plot
import pandas as pd
from datetime import datetime

In [13]:
trips = pd.read_csv('trip.csv')

In [14]:
trips.loc[22,'start_date']

'8/29/2013 11:40'

In [15]:
dt=datetime.strptime('2013-08-29 11:40:00', '%Y-%m-%d %H:%M:%S')
dt.date()

datetime.date(2013, 8, 29)

In [17]:
trips.groupby('start_date').count()

,id,duration,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,zip_code
start_date,,,,,,,,,,
1/1/2014 0:14,2,2,2,2,2,2,2,2,2,2
1/1/2014 0:17,1,1,1,1,1,1,1,1,1,1
1/1/2014 0:23,2,2,2,2,2,2,2,2,2,2
1/1/2014 0:24,2,2,2,2,2,2,2,2,2,1
1/1/2014 0:25,3,3,3,3,3,3,3,3,3,3
1/1/2014 0:28,1,1,1,1,1,1,1,1,1,1
1/1/2014 0:32,3,3,3,3,3,3,3,3,3,3
1/1/2014 0:33,2,2,2,2,2,2,2,2,2,1
1/1/2014 0:34,1,1,1,1,1,1,1,1,1,0
1/1/2014 0:36,1,1,1,1,1,1,1,1,1,0
1/1/2014 0:37,1,1,1,1,1,1,1,1,1,0
1/1/2014 0:39,1,1,1,1,1,1,1,1,1,1
1/1/2014 0:58,1,1,1,1,1,1,1,1,1,1
1/1/2014 10:07,1,1,1,1,1,1,1,1,1,1
1/1/2014 10:09,1,1,1,1,1,1,1,1,1,1
1/1/2014 10:11,2,2,2,2,2,2,2,2,2,0
1/1/2014 10:12,2,2,2,2,2,2,2,2,2,2
1/1/2014 10:14,1,1,1,1,1,1,1,1,1,1
1/1/2014 10:25,2,2,2,2,2,2,2,2,2,0
1/1/2014 10:26,1,1,1,1,1,1,1,1,1,1
1/1/2014 10:32,2,2,2,2,2,2,2,2,2,2
1/1/2014 10:33,1,1,1,1,1,1,1,1,1,1
1/1/2014 10:34,1,1,1,1,1,1,1,1,1,1
1/1/2014 10:37,1,1,1,1,1,1,1,1,1,0
1/1/2014 10:38,2,2,2,2,2,2,2,2,2,1
1/1/2014 10:39,1,1,1,1,1,1,1,1,1,1
1/1/2014 10:41,1,1,1,1,1,1,1,1,1,1
1/1/2014 10:43,2,2,2,2,2,2,2,2,2,0
1/1/2014 10:50,1,1,1,1,1,1,1,1,1,1
1/1/2014 10:56,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...
9/9/2014 9:25,4,4,4,4,4,4,4,4,4,4
9/9/2014 9:26,3,3,3,3,3,3,3,3,3,3
9/9/2014 9:27,7,7,7,7,7,7,7,7,7,7
9/9/2014 9:28,3,3,3,3,3,3,3,3,3,3
9/9/2014 9:29,1,1,1,1,1,1,1,1,1,1
9/9/2014 9:30,2,2,2,2,2,2,2,2,2,2
9/9/2014 9:31,3,3,3,3,3,3,3,3,3,3
9/9/2014 9:33,1,1,1,1,1,1,1,1,1,1
9/9/2014 9:34,1,1,1,1,1,1,1,1,1,1
9/9/2014 9:35,1,1,1,1,1,1,1,1,1,1
9/9/2014 9:36,1,1,1,1,1,1,1,1,1,1
9/9/2014 9:37,3,3,3,3,3,3,3,3,3,3
9/9/2014 9:38,5,5,5,5,5,5,5,5,5,5
9/9/2014 9:39,1,1,1,1,1,1,1,1,1,1
9/9/2014 9:40,5,5,5,5,5,5,5,5,5,5
9/9/2014 9:41,2,2,2,2,2,2,2,2,2,2
9/9/2014 9:42,1,1,1,1,1,1,1,1,1,1
9/9/2014 9:44,1,1,1,1,1,1,1,1,1,1
9/9/2014 9:45,3,3,3,3,3,3,3,3,3,3
9/9/2014 9:46,5,5,5,5,5,5,5,5,5,5
9/9/2014 9:47,2,2,2,2,2,2,2,2,2,2
9/9/2014 9:48,2,2,2,2,2,2,2,2,2,2
9/9/2014 9:49,2,2,2,2,2,2,2,2,2,2
9/9/2014 9:50,3,3,3,3,3,3,3,3,3,3
9/9/2014 9:51,1,1,1,1,1,1,1,1,1,1
9/9/2014 9:52,1,1,1,1,1,1,1,1,1,1
9/9/2014 9:53,3,3,3,3,3,3,3,3,3,3
9/9/2014 9:54,1,1,1,1,1,1,1,1,1,1
9/9/2014 9:55,1,1,1,1,1,1,1,1,1,1
9/9/2014 9:59,2,2,2,2,2,2,2,2,2,2

In [18]:
trips['start_date']=trips.start_date.map(lambda x: datetime.strptime(x, '%m/%d/%Y %H:%M') )

In [19]:
trips['start_day']=trips.start_date.map(lambda x: x.date() )

In [20]:
import plotly.plotly as py
import plotly.graph_objs as go 

from datetime import datetime
#import pandas_datareader.data as web

df = trips.groupby('start_day').count()

trace = go.Scatter(x=df.index,
                       y=df.id)

data = [trace]
layout = dict(
    title='Time series with range slider and selectors',
    xaxis=dict(
        rangeselector=dict(
            buttons=list([
                dict(count=1,
                     label='1m',
                     step='month',
                     stepmode='backward'),
                dict(count=6,
                     label='6m',
                     step='month',
                     stepmode='backward'),
                dict(count=1,
                    label='YTD',
                    step='year',
                    stepmode='todate'),
                dict(count=1,
                    label='1y',
                    step='year',
                    stepmode='backward'),
                dict(step='all')
            ])
        ),
        rangeslider=dict(),
        type='date'
    )
)

fig = dict(data=data, layout=layout)
py.iplot(fig)

ImportError: No module named plotly.plotly